/* Sprite Elements ____________________________________________________________ */
.sidebar .slider_gutter .slider_gutter_item,
.sidebar .slider_gutter .knob {
	background: transparent url(assets/rangeSlider_sprite.gif) no-repeat scroll 0 0;
}

#caseStudiesHeader .sidebar a {
	background: transparent url(assets/gui_sprite.png) no-repeat scroll 0 0;
}


/* General ____________________________________________________________________ */



/* Header _____________________________________________________________________ */
#caseStudiesHeader {
	height: 90px;
	margin-top: 30px;
}

#caseStudiesHeader .sidebar a {
	display: block;
	height: 30px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 4px 0 0 25px;
	margin-left: -16px;
	background-position: left -80px;
}
	#caseStudiesHeader .sidebar a.cancel {
		background-position: left -120px;
	}

#caseStudiesHeader .content {
	width:704px;
	float:left;
	margin-bottom:20px;
	padding: 0 13px;
}


/* Case Studies Listing _______________________________________________________ */
.sidebar .contentBody label {
	top: 6px;
}

.sidebar .contentBody h2 {
	margin-bottom: 10px;
}

.sidebar .contentBody h4 {
	margin-bottom: 3px;
}

.sidebar .filterSection li a {
	padding: 4px;
	display: block;
}
	.sidebar .filterSection li.on a {
		background-color: #96B79E;
		color: #ffffff;
	}
	.sidebar .filterSection li.on.all a {
		background-color: transparent;
		color: #96B79E;
		font-weight:bold;
	}

.sidebar .filterSection {
	margin-top: 30px;
}


/* Slider _____________________________________________________________________ */
.sidebar .slide_container {
	width: 158px;
}

.sidebar .slide_container .slider_gutter {
	width: 160px;
	position: relative;
}

.sidebar .slider_gutter .slider_gutter_item {
	width: 9px;
	height: 20px;
	float: left;
}
	.sidebar .slider_gutter .slider_gutter_l { background-position: -30px 4px; }
	.sidebar .slider_gutter .slider_gutter_r { background-position: right 4px; }

.sidebar .slider_gutter .slider_gutter_item.gutter {
	background-position: left -30px;
	background-repeat: repeat-x;
	width: 140px;
}

.sidebar .slider_gutter img {
	height: 8px;
	margin: 5px 0 0 -9px;
	position: absolute;
	width: 160px;
}

.sidebar .slider_gutter .knob {
	cursor:pointer;
	height:20px;
	width:18px;
	position: absolute;
	margin-left: -7px;
}


/* Content ____________________________________________________________________ */
#caseStudiesHeader h1 {
	padding-bottom: 20px;
}

#caseStudiesHeader p {
	font-size: 13px;
}

#caseStudiesHeader h3.grayArrow {
	margin-left: -13px;
}

#caseStudiesHeader {
	font-size: 12px;
}


/* Table ______________________________________________________________________ */
#caseStudiesContent table {
	width:100%;
}

#allCaseStudiesTable td,
#allCaseStudiesTable th {
	padding-left: 20px;
	padding-right: 15px;
}
	#allCaseStudiesTable td:first-child,
	#allCaseStudiesTable th:first-child {
		padding-left: 0px;
	}

#allCaseStudiesTable th {
	font-weight: bold;
	cursor: pointer;
}
	#allCaseStudiesTable th.forward_sort,
	#allCaseStudiesTable th.reverse_sort {
		color: #96B79E;
	}

#allCaseStudiesTable td {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 16px;
	font-size: 12px;
}

#allCaseStudiesTable td span.order {
	display: none;
}

#allCaseStudiesTable .name {
	width:300px;
}

#allCaseStudiesTable .name a {
	display: block;
	font-weight: bold;
}