h3 {
font-size:22px;
color:#ccc;
font-weight:normal;
margin-top:5px;
margin-bottom:24px;
}

h3.tag {
font-size:22px;
color:#ccc;
font-weight:normal;
margin-top:5px;
margin-bottom:12px;
}

h3.subhead {
    font-size:18px;
    margin-top:20px;
    margin-bottom:5px;
    line-height:12px;
}

#homeContentColInnerDiv h3 {
margin-top:5px;
margin-left:3px;
}

h3.grayArrow {
margin-left:3px;
margin-bottom:3px;
font-size:22px;
color:#ccc;
font-weight:normal;
background:url(../images/btnsIcons/grayArrow.png) no-repeat;
text-indent:13px;
background-position:0px 5px;
}

h3 em.grayArrow {
	background:url(../images/btnsIcons/grayArrow.png) no-repeat 0px 5px;
	font-style: normal;
	color: #aaaaaa;
	display: inline-block;
	margin-left: 5px;
}




p.grayArrow {
margin:8px 0 12px 17px;
}

h3#wkRadio {
text-indent: -9999px;
margin:0 auto 30px;
background:url(../images/sideBar/wkRadioLogo.png) no-repeat;
height:63px;
width:127px;
}

h3.green {
    font-family:Helvetica;
    font-size:18px;
    color:#96b79e;
    margin-bottom:2px;
}

h4 {
    font-family:Arial;
    color:#707070;
    font-size:12px;
    font-weight:normal;
}