/* top navigation */

#navHead {
	position: relative;
	z-index:200;
}

#navHead h1 {
	position: absolute;
	top:37px;
	left:38px;
	width: 89px;
	height: 45px;
	background: url(../images/wkHeadLogo.gif) no-repeat;
	text-indent: -9999px;
}

#navHead h1 a {
	text-decoration:none;
	display: block;
	width: 89px;
	height: 45px;
}

#navHead h2 {
	font-size: 32px;
	text-transform: uppercase;
	position: absolute;
	top: 37px;
	left: 150px;
}

#navListContainer {
	position:absolute;
	top:79px;
	left:152px;
}

#navList {
	padding:0;
	list-style:none;
	margin:0;
	width:130px;
	text-transform: uppercase;
}
	#navList.cms {
		width: 180px;
	}

#navList li {
	display:inline;
    float:left;
}

#navList li a {
	font-size:18px;
	color:#7e7e7e;
	letter-spacing:-0px;
}

.cufon-canvas {
    height:16px !important;
}

/* subMenu */

#navList li ul.subMenu {
	position:absolute;
	top:0;
	left:130px;
	padding:0;
	list-style:none;
	display:block;
    visibility:visible;
}
	#navList.cms li ul.subMenu {
		left: 180px;
		width: 200px;
	}





/*
ul.subMenu li#wknyfm a {

margin:0;
height:13px;
width:52px;
display: block;
text-indent: -9999px;
}

.subMenu li#links a {
border: solid 0px red;
margin:0 0 1px 0;
height:13px;
width:87px;
display: block;
text-indent: -9999px;
}

.subMenu li#map a {
border: solid 0px red;
margin:0 0 1px 0;
height:13px;
width:77px;
display: block;
text-indent: -9999px;
}

.subMenu li#photo a {
border: solid 0px red;
margin:0 0 1px 0;
height:13px;
width:45px;
display: block;
text-indent: -9999px;
}

.subMenu li#video a {
border: solid 0px red;
margin:0 0 1px 0;
height:13px;width:79px;
display: block;
text-indent: -9999px;
}

#navList li:hover ul.subMenu {
display:block;
}
*/
/* rss client */

#rssClientContainer {
position:absolute;
top:0;
left:719px;
background: url(../images/bkgds/rssBkgd_noClient.gif) no-repeat;
height:27px;
width:236px;
}

#rssClientWrap {
position:relative;
}

#rssClientWrap h3#rss {
padding:0;
margin:7px 0 0 13px;
position:absolute;


}

#rssClientWrap h3#rss a {
margin:0;
height:15px;
width:56px;
display: block;
text-indent: -9999px;
}

#rssClientWrap h3#clientLogin {
padding:0;
margin:8px 0 0 128px;
position:absolute;
}

#rssClientWrap h3#clientLogin a {

margin:0;
height:11px;
width:73px;
display: block;
text-indent: -9999px;
}

/* end of rss client */




/* end of top nav */


/* search box */
#searchContainer {
position:absolute;
top:191px;
left:719px;
background:url(../images/bkgds/searchBkgd.gif) no-repeat;
width:236px;
height:42px;
z-index:100;
display:none;
}

#searchInputBkgd {
background: url(../images/bkgds/bkgdSearchInput.gif) no-repeat;
height:26px;
width:215px;
margin:8px 0 0 12px;
}

#searchInput {
outline:none;
border: solid 0px #e6e6d1;
width:162px;
margin:5px 0 0 5px;
float:left;
}

#searchBtn {
margin:0px 3px 0 0;
float:right;
}

/* end of search box */

/* Tabs */

#sectionTabs {
	position:absolute;
    top:196px;
    left:16px;
    z-index:100;
	overflow: hidden;
}

#sectionTabs li {
	float: left;
	padding-top: 9px;
}
	#sectionTabs li.on { padding-top: 0; }

#sectionTabs li .left {
	position:relative;
    top:0px;
    background: url(../images/tabs/sectionTabLeft.gif) no-repeat bottom;
    width:5px;
    height:36px;
    float:left;
}
	#sectionTabs li.on .left {
		height:45px;
	}

#sectionTabs li a {
	float:left;
    padding:10px;
    background-color: #fff;
	color:#707070;
    font-size:13px;
}
	#sectionTabs li a.on { 
		font-size:18px;
		color:#95b69d;
		cursor: default; 
	}

#sectionTabs li .right {
    position:relative;
    top:0px;
    background: url(../images/tabs/sectionTabRight.gif) no-repeat bottom;
    width:5px;
    height:36px;
    float:right;
}
	#sectionTabs li.on .right {
		height:45px;
	}

#tabWork {
position:absolute;
top:196px;
left:16px;
background: url(../images/tabs/tabWork.gif) no-repeat;
height:45px;
width:71px;
z-index:100;
text-indent: -9999px;
}

#tabWorkGrid {
	position:absolute;
	top:205px;
	left:89px;
	height:36px;
	width:88px;
	z-index:100;
	text-indent: -9999px;
	background: url(../images/tabs/tabGridOff.gif) no-repeat;
}

#tabWorkGrid.on {
	background: url(../images/tabs/tabGridOn.gif) no-repeat;
	cursor:default;
}

#tabWorkBlog {
	position:absolute;
	top:205px;
	left:177px;
	height:36px;
	width:98px;
	z-index:100;
	text-indent: -9999px;
	background: url(../images/tabs/tabBlogOff.gif) no-repeat;
}

#tabWorkBlog.on {
	background: url(../images/tabs/tabBlogOn.gif) no-repeat;
	cursor:default;
}




/* Buttons */


#soundBtn {
position:absolute;
top:266px;
left:963px;
background: url(../images/btnsIcons/soundBtn.png) no-repeat;
height:41px;
width:32px;
z-index:100;
display:none;
}

#soundBtn a {
margin:4px 0 0;
height:34px;
width:32px;
display: block;
text-indent: -9999px;
}

/* footer */


#navListFooter {
position:absolute;
margin:-14px 0 0 16px;
}

#navListFooter ul {
background:url(../images/nav/navListBot.gif) no-repeat;
padding:0;
list-style:none;
margin:0;
height:34px;
width:375px;
}
#navListFooter ul li {
display:inline;
}

#navListFooter ul li#work a {
text-indent: -9999px;
margin:14px 0 0 13px;
height:12px;
width:44px;
display: inline;
float:left;
}

#navListFooter ul li#post a {
text-indent: -9999px;
margin:14px 0 0 19px;
height:12px;
width:67px;
display: inline;
float:left;
}

#navListFooter ul li#culture a {
text-indent: -9999px;
margin:14px 0 0 19px;
height:12px;
width:62px;
display: inline;
float:left;
}

#navListFooter ul li#jobs a {
text-indent: -9999px;
margin:14px 0 0 19px;
height:12px;
width:36px;
display: inline;
float:left;
}

#navListFooter ul li#contact a {
text-indent: -9999px;
margin:14px 0 0 19px;
height:12px;
width:63px;
display: inline;
float:left;
}

/* rss wk */

#rssWkContainer {
position:absolute;
margin:-10px 0 0 754px;
background: url(../images/bkgds/rssBkgdBot.gif) no-repeat;
height:30px;
width:200px;
}

#rssWkWrap {
position:relative;
}

#rssWkWrap h3#rss {
padding:0;
margin:9px 0 0 13px;
vertical-align: middle;
position:absolute;
}

#rssWkWrap h3#rss a {
margin:0;
height:15px;
width:56px;
display: block;
text-indent: -9999px;
}

#rssWkWrap h3#wk {
padding:0;
margin:12px 0 0 110px;
position:absolute;

}

#rssWkWrap h3#wk a {
margin:0;
height:11px;
width:45px;
display: block;
text-indent: -9999px;
}



/* end of rss wk */

/* copyright and links */

#copyrightFooter {
position:relative;
margin:40px auto;
text-align:right;
font:normal 9px verdana, arial, sans-serif;
color:#505050;
}


#copyrightFooter a {
font:normal 9px verdana, arial, sans-serif;
outline: none;
color:#505050;
text-decoration: none;
}


/* end of copyright and links */




/* end of footer */

li#culture {
	display:none;
}