/* background-color:red; */

#sideBar {
    float:left;
    margin:0 0 0 0;
    width:258px;
    border:solid 0px red;
    display:inline;
}

#sideBar.wide {
    float:left;
    margin:0 0 0 0;
    width:318px;
    border:solid 0px red;
    display:inline;
}

#sideBarContainer {
    border-bottom:solid 1px #d8d8d8;
    float:left;
}

#sideBarContainerLast {
    float:left;
    border:0;
}

#sideBarInnerContainerTop {
    margin:0px 15px 0px;
    border-bottom:solid 1px #d8d8d8;
    float:left;
}

#sideBarInnerContainerFirst {
    margin:34px 15px 0px;
    border-bottom:solid 1px #d8d8d8;
    float:left;
    width:88%;
}


#sideBarInnerContainer {
    margin:20px 15px 0px;
    border-bottom:solid 1px #d8d8d8;
    float:left;
    width:88%;
}

.wide #sideBarInnerContainerFirst {
    margin:34px 15px 0px;
    border-bottom:solid 1px #d8d8d8;
    float:left;
    width:91%;
}


.wide #sideBarInnerContainer {
    margin:20px 15px 0px;
    border-bottom:solid 1px #d8d8d8;
    float:left;
    width:91%;
}

#sideBarInnerContainerLast {
    margin:20px 15px;
    float:left;
}

#sideBarInnerContainerPrevNext {
    float:left;
    margin:25px 4px 0 15px;
    position:relative;
}

#sideBarInnerContainerStump {

margin:14px 15px 14px;
border-bottom:solid 1px #d8d8d8;
}

#sideBarInnerContainerStumpLast {

margin:0px 15px 5px;
border-bottom:solid 1px #d8d8d8;
}

#radioPopOut {
float:right;
margin:6px 13px 0 0;

background-position: top right;
height:10px;
width:54px;
}

#radioPopOut a {
background:url(../images/btnsIcons/popOutBtn.png) no-repeat;
height:10px;
width:54px;
margin:0;
text-indent:-9999px;
display:block;
}

#fbTwContainer {
margin:0 15px 24px;

}

#fbTwLeft {
margin:6px 3px 0 0;
float:left;
color:#ccc;
}

#fbTwRight {
/*margin-right:125px;
float:right;*/
padding-left:3px;
}

.stumpDateAndTime {
background: url(../images/btnsIcons/checkIcon.png) no-repeat;
text-indent:14px;
color:#ccc;
line-height:12px;
margin-bottom:20px;
}



#sideBarInnerContainer .timeMarkerContainer {
background: url(../images/btnsIcons/greenArrow.png) no-repeat;
margin:14px 0;
}

#sideBarInnerContainer .timeMarkerContainer .author {
margin:0 0 1px 17px;
color:#3e3e3e;
line-height:12px;
}

#sideBarInnerContainer .timeMarkerContainer .guest {
margin:0 0 1px 17px;
color:#707070;
line-height:12px;
}

#sideBarInnerContainer .timeMarkerContainer .dateAndTime {
margin-left:17px;
color:#ccc;
line-height:12px;
}

#sideBarInnerContainer .commentContainer {
background: url(../images/btnsIcons/commentBubble.png) no-repeat;
height:22px;
text-align:right; 
float:right;
}

#sideBarInnerContainer .commentContainer .numberComments {
padding:1px 0 0px 18px;
line-height:12px;
}


#sideBarInnerContainer .commentContainer .addComments {
line-height:11px;
}

#sideBarInnerContainerFirst .timeMarkerContainer {
background: url(../images/btnsIcons/greenArrow.png) no-repeat;
margin:14px 0;

}

#sideBarInnerContainerFirst .timeMarkerContainer .author {
margin:0 0 1px 17px;
color:#3e3e3e;
line-height:12px;
}

#sideBarInnerContainerFirst .timeMarkerContainer .guest {
margin:0 0 1px 17px;
color:#707070;
line-height:12px;
}

#sideBarInnerContainerFirst .timeMarkerContainer .dateAndTime {
margin-left:17px;
color:#ccc;
line-height:12px;
}


#sideBarInnerContainerLast .timeMarkerContainer {
background: url(../images/btnsIcons/greenArrow.png) no-repeat;
margin:14px 0;

}

#sideBarInnerContainerLast .timeMarkerContainer .author {
margin:0 0 1px 17px;
color:#3e3e3e;
line-height:12px;
}

#sideBarInnerContainerLast .timeMarkerContainer .guest {
margin:0 0 1px 17px;
color:#707070;
line-height:12px;
}

#sideBarInnerContainerLast .timeMarkerContainer .dateAndTime {
margin-left:17px;
color:#ccc;
line-height:12px;
}


#sideBarInnerContainerStump .timeMarkerContainer {
background: url(../images/btnsIcons/greenArrow.png) no-repeat;
margin:14px 0;

}

#sideBarInnerContainerStump .timeMarkerContainer .author {
margin:0 0 1px 17px;
color:#3e3e3e;
line-height:12px;
}

#sideBarInnerContainerStump .timeMarkerContainer .dateAndTime {
margin-left:17px;
color:#ccc;
line-height:12px;
}


#sideBarInnerContainerStumpLast .timeMarkerContainer {
background: url(../images/btnsIcons/greenArrow.png) no-repeat;
margin-bottom:14px;
margin-top:14px;

}

#sideBarInnerContainerStumpLast .timeMarkerContainer .author {
margin:0 0 1px 17px;
color:#3e3e3e;
line-height:12px;
}

#sideBarInnerContainerStumpLast .timeMarkerContainer .dateAndTime {
margin-left:17px;
color:#ccc;
line-height:12px;
}

.pager {
    position:relative;
    float:left;
    margin: 0 60px;
}

.pager.narrow {
	margin: 0 25px;
}




