<Response>
	#if ($creds)
		<Message>Credentials successfully created for $creds.username()</Message>
		<Credentials>
			<UUID>$creds.uuid().get()</UUID>
			<Username>$creds.username()</Username>
			<Department>$creds.department()</Department>
			<Title>$creds.title()</Title>
		</Credentials>
	#else
		<Message>Failed to save {username}</Message>
	#end
</Response>
