<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>WKNYC.COM</title>
		<link type="text/css" rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<h1>WKNYC.COM From Velocity</h1>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
