<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Generic Failure</title>
		<link type="text/css" rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<h1>Busted!</h1>
		<h2>Something happened to make you get this error state.</h2>
		<p>But the HTML error view isn't implemented. Were you looking for a JSON or XML response? If so make sure your headers are set correctly.</p>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
