#navList {
background:url(../images/nav/navMainBkgd.png) no-repeat bottom left;
padding:0;
list-style:none;
margin:0;
height:77px;
width:130px;

}

#navList li {
display:inline;
}

#navList li#work a {
background:url(../images/nav/navMainBkgd.png) no-repeat;
background-position:0 2px;
text-indent: -9999px;
margin:-1px 0 0;
height:16px;
width:130px;
/* width:53px; */
display: block;
}

#navList li#post a {
background:url(../images/nav/navMainBkgd.png) no-repeat;
text-indent: -9999px;
margin:0 0 0px 0;
background-position:0 -14px;
height:15px;
width:130px;
/* width:88px; */
display: block;
}

#navList li#culture a {
background:url(../images/nav/navMainBkgd.png) no-repeat;
text-indent: -9999px;
margin:0 0 0 0;
background-position:0 -29px;
height:16px;
width:130px;
/* width:78px; */
display: block;
}

#navList li#jobs a {
background:url(../images/nav/navMainBkgd.png) no-repeat;
text-indent: -9999px;
margin:0 0 0px 0;
background-position:0 -45px;
height:16px;
width:130px;
/* width:46px; */
display: block;

}

#navList li#contact a {
background:url(../images/nav/navMainBkgd.png) no-repeat;
text-indent: -9999px;
margin:0 0 0px 0;
background-position:0px -61px;
height:16px;
width:130px;
/* width:80px; */
display: block;
}