#picWrap312 {
margin:10px 0 15px;
padding-top:6px;
background: url(../images/picsFrames/bkgdPicTop312px.gif) no-repeat;
}

#picWrap312 img {
margin:0;
padding:0 6px 6px 7px;
background: url(../images/picsFrames/bkgdPicBot312px.gif);
background-position:bottom;
}

#picWrap219 {
margin:10px 0 15px;
padding-top:6px;
background: url(../images/picsFrames/bkgdPicTop219px.gif) no-repeat;
}

#picWrap219 img {
margin:0;
padding:0 6px 6px 7px;
background: url(../images/picsFrames/bkgdPicBot219px.gif);
background-position:bottom;
}
img.workSqThumb {
margin:0;
padding:5px 6px 6px 6px;

}
img.workGridThumb {
margin:0;
padding:5px 6px 6px 6px;
background: url(../images/picsFrames/bkgdWorkGridThumb.png) no-repeat;
background-position:top;
}
img.workBlogThumb {
margin:0;
padding:5px 6px 6px 6px;
background: url(../images/picsFrames/bkgdWorkBlogThumb.png) no-repeat;
background-position:top;
}

img.workCaseThumb {
margin:0;
padding:5px 6px 6px 6px;
background: url(../images/picsFrames/bkgdWorkCaseThumb.jpg) no-repeat;
background-position:top;
cursor:pointer;
}