body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

body {
	background: #171716;
	color:#707070;
	font-size:100%;
	overflow-y:hidden;
}

div {
	font-family: Arial;
	font-weight:normal;
	font-size:12px;
	color:#747473;

}

.hide {
	display:none;
}

a {
	color:#747473;
	text-decoration:none;
	outline: none;
}

a:visited {
	color:#96b79e;
	text-decoration:none;
}

p {
	visibility:hidden;
}

hr {
	display:none;
}

h1 {
	display:none;
}

* html div.clearer {
	display:none;
}

div.clearer {
	clear: both; line-height: 0; height: 0;
}

/**layout**/

#container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:0;
}

#logo {
	position:absolute;
	top:0px;
	left:0px;
	float:left;
	width:130px;
	z-index:2;
}

#logo p {
	position:absolute;
	width:85px;
	height:40px;
	background: #171716 url(../images/splash/logo.gif) no-repeat center;
	padding:10px;
}

#main {
	position:absolute;
	top:0px;
	left:130px;
	float:left;
	z-index:1;
	height:100%;
}

#main .row {
	float:left;
	clear:both;
}

#main .splashImg {
	float:left;
	clear:none;
	visibility:hidden;
}

#description {
	position:absolute;
	top:0px;
	left:100px;
	float:left;
	width:225px;
	height:100%;
	z-index:2;
}

#description p {
	position:absolute;
	line-height:12px;
	letter-spacing:-.5px;
	background: #171716;
	padding:10px;
}

#contact {
	position:absolute;
	top:0px;
	left:100px;
	float:left;
	height:100%;
	z-index:2;
}

#contact #email {
	position:absolute;
	float:left;
	background: #171716 url(../images/splash/email.gif) no-repeat left;
	width:17px;
	height:11px;
	top:10px;
	left:10px;
	z-index:2;
	visibility:hidden;
}

#contact p {
	position:absolute;
	line-height:12px;
	letter-spacing:-.5px;
	background: #171716;
	padding:10px 10px 6px 35px;
	background: #171716;
	cursor:pointer;
}

#footer {
	position:absolute;
	height:8px;
	bottom:0;
	left:0;
	background: #d8d8d8;
}