@import url(reset.css);
@import url(nav.css);
@import url(sidebar.css);
@import url(headers.css);
@import url(links.css);
@import url(pics.css);
@import url(images.css);
@import url(dropdown.css);
@import url(lightbox.css);

body {
	line-height: 1;
	background: #171716 url(../images/bkgds/bkgd.gif) repeat-x top;
	color:#707070;
	font-size:100%;
}

div {
    font-family: Helvetica, Arial sans-serif;
    font-weight:normal;
    font-size:11px;
}

.hide {
    display:none !important;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a {
    color:#96b79e;
    text-decoration:none;
    outline: none;
}

a:visited {
    color:#96b79e;
    text-decoration:none;
}

p {
    line-height:16px;
}

hr {
    display:none;
}

* html div.clearer {
    display:none;
}

div.clearer {
    clear: both;
    line-height: 0;
    height: 0;
}

label.prefill {
	position: absolute;
	display: none;
}

.input-wrap > label.prefill {
	position: absolute;
	display: block;
	top: 5px;
	left: 5px;
	cursor: text;
}

.input-wrap {
	position: relative;
}


/* wrapper properties */

#container {
    margin: 0px auto;
    width: 970px;
    position: relative;
}


#contentWrap {
    top:223px;
    width: 970px;
    z-index:1;
    position: absolute;
}

/* end wrapper properties */

/* home content layout styles */

#contentWhite {
    background:url(../images/bkgds/contentBkgd.gif) repeat-y;
    margin:0;
    border-top:solid 7px #d8d8d8;
    border-bottom:solid 7px #d8d8d8;
}

#contentInnerDivBkgd {
    position: relative;
    width:956px;
    margin:0 auto;
    background: url(../images/bkgds/contentBkgdSidebar.gif) repeat-y;
}

#contentInnerDivBkgd.narrow {
    position: relative;
    width:956px;
    margin:0 auto;
    background: url(../images/bkgds/contentBkgdSidebarNarrow.gif) repeat-y;
}

#contentInnerDiv {
    position: relative;
    width:956px;
    margin:0 auto;
}

#contentMain {
    margin:0;
    float:left;
}

#contentMainContainer {
    margin:0;
    width:698px;
    border-bottom: solid 1px #d8d8d8;
}

#contentMainContainer.blog{
    margin:0;
    width:698px;
    border-bottom: none;
}


#contentMainContainer.narrow {
    margin:0;
    width:638px;
    border-bottom: solid 1px #d8d8d8;
}

#contentMainContainer .twoColumnSection {
    margin:0 15px;
    padding-bottom:10px;
    border-bottom:solid 1px #ebebeb;
}

#contentMainContainer .twoColumnSection.list {
    margin:0 15px;
    padding-left:10px;
    padding-bottom:15px;
    border-bottom:solid 1px #ebebeb;
}

#contentMainContainer .twoColumnSection.list p{
    font-family:Arial;
    font-size:12px;
    line-height:14px;
}

#contentMainInnerContainer {
    margin:10px 18px 15px 15px;
    position:relative;
}

#contentMainBtns {
    float:right;
    width:220px;
    margin-right:4px;
}

#contentTwoColContainer {
    /*background:url(../images/bkgds/leftColHomeBkgd.png) repeat-y;*/
    margin:0;
}

#contentTwoColContainer .narrow{
    /*background:url(../images/bkgds/leftColHomeBkgd.png) repeat-y;*/
    margin:0;
    width:638px;
}

#contentLeftColContainer {
    background:url(../images/bkgds/leftColHomeBkgd.png) repeat-y;
    margin:0;
    width:349px;
    float:left;

}

#contentRightColContainer {
    margin:0;
    width:348px;
    float:right;
}

#homeContentColInnerDiv  {
    margin:25px 0 25px 18px;
    width:315px;
}

/* end home content layout styles */

/* work case study content layout styles */


#contentTwoColContainerWorkCase {
    margin:0;
}

#workCaseContentColInnerDiv  {
    margin:12px 0 12px 18px;
    width:315px;
}

#workCaseContentColInnerDiv p {
    margin-bottom:24px;
}

/* end work case study content layout styles */


#homeContentColInnerDiv #timeCommentWrap {
    width:307px;
    margin:0 0 0 3px;
}

#homeContentColInnerDiv p.homeContentColP {
    width:307px;
    margin-left:3px;
    margin-top:24px;
}

#homeContentColInnerDiv a.plusBtn {
    margin-left:3px;
}

#timeCommentWrap .timeMarkerContainer {
    background: url(../images/btnsIcons/greenArrow.png) no-repeat;
    margin:0;
    float:left;
}

#timeCommentWrap .timeMarkerContainer .author {
    margin:0 0 1px 17px;
    color:#3e3e3e;
    line-height:12px;
}

#timeCommentWrap .timeMarkerContainer .guest {
    margin:0 0 1px 17px;
    color:#707070;
    line-height:12px;
}

#timeCommentWrap .timeMarkerContainer .dateAndTime {
    margin-left:17px;
    color:#ccc;
    line-height:12px;
}

#timeCommentWrap .commentContainer {
    background: url(../images/btnsIcons/commentBubble.png) no-repeat;
    text-align:right; 
    float:right;
}

#timeCommentWrap .commentContainer .numberComments {
    padding:1px 0 0px 18px;
    line-height:12px;
}


#timeCommentWrap .commentContainer .addComments {
    line-height:11px;
}

p.grey {
    color:#cccccc;
}

p.leftIndent {
    margin-left:17px;
}

.jobDescription {
	font-family:Arial;
	font-size:11px;
	display:none;
	margin-top:25px;
}

.jobDescription ul {
	margin-bottom:20px;
}

.jobDescription li {
	width:560px;
}

.jobDescription span.title {
	color:#ccc;
	padding: 0 10px 0 0;
	
}

.jobDescription span.description {
	color:#707070;
	line-height:20px;
}

.twoColumnPaginator {
	position:relative;
	top:18px;
	left:38%;
	width:200px;
}

#workContentContainer {
	width:922px;
	margin:0 auto;
}

#gridMarkup {
	display:none;
}

.workGridContainer {
	margin:0;
	width:461px;
	float:left;
}

.workGridDescription {
	border-bottom:solid 1px #ebebeb;padding-bottom:10px;
}

.initThumbRow1, .initThumbRow2 {
	display:none;
}

.thumbnailContainer {
	/*padding:0 5px 5px 0;*/
	background: url(../images/picsFrames/bkgdWorkSqThumb.png) no-repeat;
	background-position:top;
	cursor:pointer;
}

#blogMarkup {
	display:none;
}

.workBlogContainer {
	margin:25px auto;width:917px;border-bottom:solid 0px #ebebeb;
}

.workBlogDescription {
	border-bottom:solid 1px #ebebeb;padding-bottom:10px;
}

#pagerWide {
	margin:0 15px;height:48px;border-top:solid 1px #ebebeb;position:relative;
	display:none;
}

#workNav {
	height:52px; width:956px;position:relative;z-index:1;
}

.workPager{
	display:none;
	position:absolute;	top:32px;left:20px;
}

#contactForm {
	position:absolute;
	width:404px;
	height:188px;
	background: url(../images/bkgds/contactForm.gif) no-repeat;
}

#contactForm input, textarea {
	font-family:arial;
	font-size:10px;
	color:#999;
}

#contactForm #name {
	position:absolute;
	top:3px;
	left:3px;
	width:200px;
}

#contactForm #address {
	position:absolute;
	top:33px;
	left:3px;
	width:200px;
}

#contactForm #message {
	position:absolute;
	top:66px;
	left:3px;
	width:398px;
	height:119px;
	border:none;
}

#contactForm .plusBtn {
	position:absolute;
	top:200px;
	left:2px;
}

#contactForm #counter {
	position:absolute;
	top:190px;
	left:2px;
	font-family:arial;
	font-size:10px;
	color:#d4d4d4;
}

#blogPostMarkup {
	display:none;
}

.blogPosting {
	float:left;
	padding:0px 15px 10px 15px;
	border-bottom: solid 1px #d8d8d8;
	margin-bottom:30px;
}